.box{
    width : 36px;
    height : 36px;
    background: gray;
    border-radius: 1rem;
    color: white;
}
.box h1{
    position: relative;
    top : 50%;
    transform: translateY(50%);
}
.box:hover{
    background-color: teal;
    transition: all ease-in;
}